snippet rsec "Creates an R language section" b
\`\`\`{r}
$0
\`\`\`
endsnippet

snippet pysec "Creates an Python language section" b
\`\`\`{python}
$0
\`\`\`
endsnippet

snippet bashsec "Creates an bash language section" b
\`\`\`{bash}
$0
\`\`\`
endsnippet

snippet TODO "Todo" b
<!-- TODO: $0 -->
endsnippet
